<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/chatroom-styles.css"
</head>

<body>
    <!-- Modal the gets thier username and room when the page loads -->
    <div class="modal fade modal-sm" id="joinModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to Whisler! Please enter a username and a room name to get started</h4>
            </div>
            <div class="modal-body">
                <label for="username">Username</label>
                <input id="username" type="text" />
                <label for="roomID">Room ID</label>
                <input id="roomID" type="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="join" data-dismiss="modal">Join</button>
            </div>
        </div>
    </div>

    <div id="userList">
        <!-- Userlist goes here -->
    </div>
    <div class="pre-scrollable" id="chatBox">
        <!-- Chat messages Go here -->
    </div>
    <div id="messageBar" style="bottom:0;">
        <input id="textBar" type="text" />
        <button id="sendMessage">Send Message</button>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript for bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/client.js"></script>
    <script>
        $(window).load(function() {
            $('#joinModal').modal('show');
        });
    </script>
</body>

</html>
