
body {
    font-size: 20px;
}

div#userList {
    position: fixed;
    width: 300px;
    height: 200px;
    display: block;
}

div#chatBox {
    border: black 1px solid;
    margin-left: 200px;
    margin-bottom: 5px;
    width: 614px;
    height: 900px;
    overflow-y: scroll;
}

div#messagebar {
    margin-left: 200px;
}

input#textBar {
    width: 400px;
    border: black 1px solid;
}

p.important {
    font-weight: bold;
}
