<!Doctype html>
<html>
<head>
    <title>Login to ghostspeak</title>
</head>
<body>
    <form action="/login" method="post" id="loginForm">
        <input name="name" id="name" type="text" />
        <input name="submit" id="submit" type="submit" />
    </form>
<script>var socket = io();</script>
</body>
</html>
